/**
 * règles css pour page et iframe, attention à vérifier que les variables utilisées sont bien importées par iframe.less
 */

/* les pictos des ressources faut mettre du !important pour que ce ne soit pas écrasé par les css jstree */
.jstree-themeicon-custom {
  display: inline-block;
  text-decoration: none;
  margin: 4px 0 0 2px !important;
  padding: 0;
  width: 16px;
  height: 24px !important;
}
.amJstNode {background-image: url("/plugins/am/am.gif") !important;}
.arbreJstNode {background-image: url("/plugins/arbre/images/arbre.gif") !important;}
.atoJstNode {background-image: url("/plugins/ato/ato.gif") !important;}
.calkcJstNode { background-image: url("/plugins/calkc/calkc.gif") !important;}
.coll_docJstNode {background-image: url("/plugins/coll_doc/coll_doc.gif") !important;}
.ec2JstNode { background-image: url("/plugins/ec2/ec2.gif") !important;}
.ecjsJstNode { background-image: url("/plugins/ecjs/ecjs.gif") !important;}
.emJstNode { background-image: url("/plugins/em/em.gif") !important;}
.iepJstNode { background-image: url("/plugins/iep/iep.gif") !important;}
.j3pJstNode { background-image: url("/plugins/j3p/j3p.gif") !important;}
.lingotJstNode {background-image: url("/plugins/lingot/lingot.gif") !important;}
.mathgraphJstNode { background-image: url("/plugins/mathgraph/mathgraph.gif") !important;}
.mentalJstNode { background-image: url("/plugins/mental/mental.gif") !important;}
.tepJstNode {background-image: url("/plugins/tep/tep.gif") !important;}
.testdJstNode {background-image: url("/plugins/testd/testd.gif") !important;}
.urlJstNode { background-image: url("/plugins/url/url.gif") !important;}
