// en dessous en ajoute du scroll horizontal, faut pas pousser…
body {min-width: 300px;}

// responsive, .gt-medium-only pour les écrans à partir de medium et lt-medium-only pour les plus petits seulement
@media (max-width: (@medium-screen)) { // tiny et small
  .gt-medium-only,
  #header a span,
  #ressActions span
    { display: none; }
  .lt-medium-only { display: block; }
}
@media (min-width: (@medium-screen + 1)) { // medium, large et au delà
  .gt-medium-only { display: block;}
  #header a span,
  #ressActions span
    { display: inline;}
  .lt-medium-only { display: none; }
}

/* cf http://stackoverflow.com/a/1633170 */
.floatContainer::after {
  content:"";
  display:block;
  clear:both;
}

/**
 * Couleurs
 */
.debug {
  border: 1px #ff0000 solid;
  margin: 1em;
  padding: 0.5em;
}

/* Couleurs */
.avert {
  background-color: @base-background;
  margin: 1rem;
  padding: 1rem;
  border: thin solid;
  &::before { /* merci http://stackoverflow.com/a/11919684 */
    margin-right: 1rem;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
  }
}
.error {
  .avert();
  color: @error-color;
  border-color: @error-color;
  &::before { /* merci http://stackoverflow.com/a/11919684 */
    content: "\f071";
  }
}
.warning {
  .avert();
  color: @warning-color;
  border-color: @warning-color;
  &::before {
    content: '\f12a';
  }
}
.info {
  .avert();
  color: @info-color;
  border-color: @info-color;
  &::before {
    content: '\f05a';
  }
}
// Les messages flash ont une de ces classes error|warning|info, mais aussi une classe flash, que l'on utilise pas pour le moment

.cartouche { /* texte secondary sur fond foncé primary */
  background-color: @primary-color;
  color: @secondary-color-light;
  a { color: @secondary-color-light}
  a:hover {
    color: @secondary-color-link;
  };
}

.border-tab {
  border: @border-primary;
  .selected {
    border-bottom: none;
  }
}


/**
 * layout
 */
#auth {float: right;}

#header {
  .cartouche();
  .line();
  .pas();
  nav {
    z-index: 15;
    a {
      .btn();
      padding: 0.5rem 1rem;
      margin: 0 1rem;
      background-color: @primary-color-ligth;
      text-align: center;
      text-decoration: none;
    };
    a.selected, a:hover {
      background-color: @primary-color-ligther;
      color: @secondary-color-link;
    }
    a:hover {
      color: @secondary-color-link-hover;
    }
    a .fa {margin-right: 1rem;}
    // avec une exception
    a .fa-user {margin-right:0; margin-left: 1rem;}
  }
}
#auth {
  ul {
    display: none;
    position: absolute; // pour qu'il n'agrandisse pas le header quand il s'ouvre
    top: 3rem; // pour démarrer à ras des boutons
    right: 0;
    padding-top: 2rem;
    list-style: none;
    div {
      padding: 0.2rem;
      text-align: center;
      background-color: @primary-color;
    }
    ul {
      padding: 0.5rem;
    }
    li {
      width: 100%;
      padding: 0.5rem;
      margin: 0;
      background-color: @primary-color;
    }
    li a {
      width: 100%;
      margin-right: @tiny-value;
      text-align: left;
    }
  }
}
#auth:hover ul {
  display: block;
}

#main, #content {
  .pam();
}
#main > h1 {margin-bottom: 0;}

#actions ul {
  float: right;
  font-size: @h4-size;
  line-height: @h1-size;
  padding: 0 ;
  text-align: center;
  list-style: none;
  margin: 0 0 0 1rem;
  li {
    float: right;
    .border-tab();
    padding: @tiny-value @small-value;
    margin-right: -1px;
  }
  li.selected {
    border-bottom: thin solid @base-background;
  }
  li.tab-spacer {
    border-top: none;
    border-bottom: none;
    width: @medium-value;
    z-index: 2;
  }
}

#actions div.clearfix {
  border-bottom: @border-primary;
  position: relative;
  bottom: 1px;
  z-index: -1;
}

#previewIframe {
  width: 100%;
  height: 100%;
  border: none;
}

#footer {
  .cartouche();
  .line();
  padding-right: @small-value;
  ul {
    list-style: none;
    .ma0();
    .pa0();
  }
  li {
    .mas();
    .fl();
  }
  a:hover {
    color: @secondary-color-link-hover;
    text-decoration: underline;
  }
}

.waiting {
  .info();
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 5px;
}

/**
 * réglages de pages particulières
 */
/* description */
.ressource span.publie, .ressource span.restriction {
  display: block;
  float: right;
  margin: 0.5em;
}
.ressource p, .ressource ul {
  margin: 1em;
}
.remarque {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
}
.liste .links {
  margin: 0 0 0.2em 2em;
  font-size: 0.8em;
}

/* css bien crade en attendant de mieux gérer ce form d'édition de groupe */
#main form #validModif {
  float: left;
  margin: 0;
}
#main form #cancelModif {
  float: left;
  margin: -1.5em 1em;
}
/* On écrase ces valeurs de knacss qui nous plaisent pas */
label {cursor: inherit;}
