/**
 * règles css pour page et iframe, attention à vérifier que les variables utilisées sont bien importées par iframe.less
 */

/* les pictos des ressources faut mettre du !important pour que ce ne soit pas écrasé par les css jstree */
.jstree-themeicon-custom {
  display: inline-block;
  text-decoration: none;
  margin: 4px 0 0 2px !important;
  padding: 0;
  width: 16px;
  height: 24px !important;
}
.amJstNode {background-image: url("/plugins/am/am.gif") !important;}
.arbreJstNode {background-image: url("/plugins/arbre/images/arbre.gif") !important;}
.calkcJstNode { background-image: url("/plugins/calkc/calkc.gif") !important;}
.ec2JstNode { background-image: url("/plugins/ec2/ec2.gif") !important;}
.emJstNode { background-image: url("/plugins/em/em.gif") !important;}
.j3pJstNode { background-image: url("/plugins/j3p/j3p.gif") !important;}
.mentalJstNode { background-image: url("/plugins/mental/mental.gif") !important;}
.urlJstNode { background-image: url("/plugins/url/url.gif") !important;}
