/**
 * règles css pour page et iframe,
 * attention à vérifier que les variables utilisées ici sont bien importées par page.less et iframe.less
 * (elles devraient toutes être dans _00-config-sesatheque)
 */

/* les pictos des ressources faut mettre du !important pour que ce ne soit pas écrasé par les css jstree */
.jstree-themeicon-custom {
  display: inline-block;
  text-decoration: none;
  margin: 4px 0 0 2px !important;
  padding: 0;
  width: 16px;
  height: 24px !important;
}
.amJstNode {background: url("/plugins/am/am.gif") no-repeat !important;}
.arbreJstNode {background: url("/plugins/arbre/images/arbre.gif") no-repeat !important;}
.arbreJstNodeRef {background: url("/plugins/arbre/images/arbreRef.gif") no-repeat !important;}
.atoJstNode {background: url("/plugins/ato/ato.gif") no-repeat !important;}
.calkcJstNode { background: url("/plugins/calkc/calkc.gif") no-repeat !important;}
.coll_docJstNode {background: url("/plugins/coll_doc/coll_doc.gif") no-repeat !important;}
.ec2JstNode { background: url("/plugins/ec2/ec2.gif") no-repeat !important;}
.ecjsJstNode { background: url("/plugins/ecjs/ecjs.gif") no-repeat !important;}
.emJstNode { background: url("/plugins/em/em.gif") no-repeat !important;}
.iepJstNode { background: url("/plugins/iep/iep.gif") no-repeat !important;}
.j3pJstNode { background: url("/plugins/j3p/j3p.gif") no-repeat !important;}
.lingotJstNode {background: url("/plugins/lingot/lingot.gif") no-repeat !important;}
.mathgraphJstNode { background: url("/plugins/mathgraph/mathgraph.gif") no-repeat !important;}
.mentalJstNode { background: url("/plugins/mental/mental.gif") no-repeat !important;}
.tepJstNode {background: url("/plugins/tep/tep.gif") no-repeat !important;}
.testdJstNode {background: url("/plugins/testd/testd.gif") no-repeat !important;}
.urlJstNode { background: url("/plugins/url/url.gif") no-repeat !important;}

#display #apercu {
  width: 100%;
  min-height: 500px;
  resize: both;
  overflow: auto;
  border: 1px solid black
}

/*
des restes de ressources.css
html, body {padding: 0; margin: 0;height: 100%;}
/* faut du 100% de haut sur chaque parent de display (pourquoi ?) * /
#body, #body .row, #content, #display {height: 100%;}
*/

#display {margin: 0 auto; padding: 0;}
#titre {
  font-size: 1.4em;
  text-align:center;
  font-family: Verdana, sans-serif;
  width: 86%;
  margin:auto; /* centrage décalé de qq pixel à gauche à cause du feedback mais tant pis, plus simple comme ça */
  min-height:28px;
}
#pictoFeedback  {width: 16px; height: 16px; float:right; margin: 6px 8% 0 0;}
.feedbackOk { background-image: url("/medias/saveOk.png"); visibility: visible; }
.feedbackKo { background-image: url("/medias/saveKo.png"); visibility: visible; }
.feedbackOff { background-image: none; visibility: hidden; }

#boutonVu { float: right; display: none; }

/* le layout-iframe n'inclue pas ce qui est défini dans les sesatheque-* hors display mais il a besoin de ça */
/**
 * Couleurs
 */
.debug {
  border: 1px #ff0000 solid;
  margin: 1em;
  padding: 0.5em;
}

/* Couleurs */
.avert {
  background-color: @base-background;
  margin: 1rem;
  padding: 1rem;
  border: thin solid;
  &::before { /* merci http://stackoverflow.com/a/11919684 */
    margin-right: 1rem;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
  }
}
#errors {
  margin: 0;
  padding: 0;
  color: @error-color;
  background-color: @base-background;
  text-align: center;
  font-size: 1.2em;
  font-family: Verdana, sans-serif;
}
.error {
  .avert();
  color: @error-color;
  border-color: @error-color;
  &::before { /* merci http://stackoverflow.com/a/11919684 */
    content: "\f071";
  }
}
.warning {
  .avert();
  color: @warning-color;
  border-color: @warning-color;
  &::before {
    content: '\f12a';
  }
}
.info {
  .avert();
  color: @info-color;
  border-color: @info-color;
  &::before {
    content: '\f05a';
  }
}
