.card {
  margin: 10px;
  border-radius: 2px;
  border: 1px solid #C3C3C3;
  background-color: white;
  box-shadow: 0 0 5px black(0.16);

  >.title {
    text-decoration:none;
    display: block;
    text-align: left;
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
    color: #7D7D7D;
    height: 26px;
    &.activated {
      background-image: none;
    }
  }
  .legend {
    padding: 10px;
    color: gray;
    background-color: #FFFAE4;
  }
  .body {
    padding: 16px 16px 24px 16px;
  }
}
