@mixin fill-all {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right:0;
}

@mixin text-wrap {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$theme-path : "A DEFINIR";
@function inline($url) {
  @return inline-data("#{$theme-path}/#{$url}");
}

@mixin font-face($family, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($family);
    src: url('../assets/fonts/#{$file}.eot'); // IE9
    src: url('../assets/fonts/#{$file}.eot?#iefix') format('embedded-opentype'), // IE6-IE8
    url('../assets/fonts/#{$file}.woff') format('woff'), // Navigateurs modernes
    url('../assets/fonts/#{$file}.ttf') format('truetype'), // Safari, Android, iOS
    url('../assets/fonts/#{$file}.svg') format('svg');  // Legacy iOS
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin font-inline($family, $file) {
  @font-face {
    font-family: quote($family);
    src: url(inline-data('#{$theme-path}/fonts/#{$file}.eot'));
    src:
    url('../assets/fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
    inline-data('../assets/fonts/#{$file}.ttf') format('truetype'),
    inline-data('../assets/fonts/#{$file}.woff') format('woff'),
    inline-data('../assets/fonts/#{$file}.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin position($top:0,$right:0,$bottom:0,$left:0,$position:absolute) {
  display: block;
  position: $position;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}

@mixin pixelBorders($top: false,$right: false,$bottom: false,$left: false) {
  /*
  @media only screen {
    @if $top { border-top: 1px solid $top; } @else { border-top: none }
    @if $bottom { border-bottom: 1px solid $bottom; } @else { border-bottom: none }
    @if $left { border-left: 1px solid $left; } @else { border-left: none }
    @if $right { border-right: 1px solid $right; } @else { border-right: none }
  }

  @media
  only screen and ( min-device-pixel-ratio: 1.25),
  only screen and ( min-resolution: 200dpi),
  only screen and ( min-resolution: 1.25dppx)
  {
   */
  border: none !important;
  $shadow: ();
  @if $top     { $shadow: append($shadow, unquote('inset 0 1px 0 0 ' + $top), comma) }
  @if $bottom  { $shadow: append($shadow, unquote('inset 0 -1px 0 0 ' + $bottom)) }
  @if $left    { $shadow: append($shadow, unquote('inset 1px 0 0 0 ' + $left)) }
  @if $right   { $shadow: append($shadow, unquote('inset -1px 0 0 0 ' + $right)) }
  box-shadow: $shadow;
//  }
}


@mixin clear {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@function black($opacity:0.8) {
  @return rgba(black, $opacity);
}

@function white($opacity:0.8) {
  @return rgba(white, $opacity);
}

@mixin animate($name,$time,$ease:ease-in) {
  animation-name: $name;
  animation-iteration-count: 1;
  animation-timing-function: $ease;
  animation-fill-mode: forwards;
  animation-duration: $time;
}

$break-phone   : 480px;
$break-tablet  : 770px;
$break-desktop : 992px;
$break-large   : 1200px;

@mixin on($media) {
       @if $media == phone      { @media only screen and (max-width: $break-phone)                                { @content; } }
  @else if $media == tablet     { @media only screen and (min-width: $break-phone) and (max-width: $break-tablet) { @content; } }
  @else if $media == desktop    { @media only screen and (min-width: $break-tablet)                               { @content; } }

  @else if $media == portrait   { @media all and (orientation:portrait)  { @content; } }
  @else if $media == landscape  { @media all and (orientation:landscape) { @content; } }
  @else if $media == ios        {  .platform-ios.platform-cordova:not(.fullscreen) & { @content; } }
  @else if $media == android    {  .platform-android.platform-cordova:not(.fullscreen) & { @content; } }
}


