# conf éditeurs
.vim
.idea

# on utilise yarn, npm possible mais son lock restera local
package-lock.json
node_modules

# logs
*.log
logs*/*

# la conf locale, mais seulement à la racine
/_private

# évenutelle surcharge locale pour npm
package.local-extras.json

# fichiers générés
documentation
build*

# trucs qui peuvent traîner à la racine (pm2 qui tourne, dumps, etc.)
*.pid
*.map
*.sql
