node_modules
npm-debug.log
.idea
_private
logs/*
documentation/*
*.pid
*.map
app/ressource/public/*.bundle.js
# webpack construit ses fichiers avec 32 caractères, mais on a pas le droit au regex façon
# app/ressource/public/[a-f0-9]{32}.*
app/ressource/public/????????????????????????????????.*
