$menuSize: 60px;
html {
  @include fill-all;
}
#menu-container {
  @include fill-all;
}

#header {
  left: 0;
  right: 0;
  top: 0;
  height: $menuSize;
  box-shadow: 0 0 10px black(0.2);
  padding: 10px 0;
  z-index:100;
  overflow: hidden;
  display: flex;
  background-color: black;
  background-image: linear-gradient(to bottom, white(0.2), white(0.3));
  align-items: flex-end;

  #logo {
    display: block;
    height: 40px;
    width: 40px;
    background: url("/favicon-96x96.png") no-repeat;
    background-size: contain;
    margin: 0 10px;
  }
  #menu {
    li, ul {
      display: inline-block;
      a {
        transition: background-color 0.2s ease, color 0.2s ease, border-color 0.7s ease;
      }
    }
    > li {
      padding: 0 10px 0 0;
      > a {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 16px;
        font-weight: 400;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
          background-color:#545454;
        }
      }
      &.open {
        >a {
          background-color:#696464;
          &:after {
            content: "\f3d3";
            font-family: ionicons;
            font-size: 20px;
            padding: 0 0 0 10px;
            position: relative;
            top: 2px;
            color: #D4FF65;
          }
        }
      }
      li {
        font-size: 15px;
        padding: 0 10px 0 0;
        a {
          color: #D1D1D1;
          border-bottom: 1px solid transparent;
          &:hover {
            color: white;
            border-color: #989898;
          }
        }
        &.active {
          a {
            color: white;
            border-color: #4E89E5;
          }
        }
      }
    }
  }
}
#menu-content {
  padding: 10px;
  background-image: linear-gradient(to bottom right, #FFFFFF, #F7F7F7);
  overflow: auto;

  position: absolute;
  left: 0;
  top: $menuSize;
  right: 0;
  bottom: 0;
}
