<table class="an-date-picker">
  <caption>
    <i class="previous ion ion-ios-arrow-left" ng-click="doPreviousMonth()"></i>
    <span class="month">{{month}}</span>
    <i class="next ion ion-ios-arrow-right" ng-click="doNextMonth()"></i>
    &nbsp;
    <i class="previous ion ion-ios-arrow-left" ng-click="doPreviousYear()"></i>
    <span class="year">{{current.year}}</span>
    <i class="next ion ion-ios-arrow-right" ng-click="doNextYear()"></i>
  </caption>
  <thead>
    <tr>
      <th>Lun</th>
      <th>Mar</th>
      <th>Mer</th>
      <th>Jeu</th>
      <th>Ven</th>
      <th>Sam</th>
      <th>Dim</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="week in weeks">
      <td
        ng-repeat="day in week"
        ng-click="doSelectDay(day)"
        ng-class="{
          disabled: day.$disabled,
          now: day.$now,
          weekend: day.$weekend,
          active: day.$current}">
        <span class="date">{{day.$date}}</span>
      </td>
    </tr>
  </tbody>
</table>
<div class="buttons">
  <div class="button" an-ripple ng-click="doGoToday()">Aujourd'hui</div>
  <div class="button" an-ripple ng-click="doClose()">Fermer</div>
</div>
