/**
 * Ce fichier n'est pas inclus dans client-react, seulement client (pour le display),
 * mais laissé ici pour avoir tout au même endroit
 */
@import "./config.scss";
@import "./fonts.scss";
@import "./mixins.scss";
@import "./generic.scss";

#display {
  position: relative;
  margin: 0 auto;
  padding: 0;
  clear: both;
  font-family: $font-family-base;
}
#titre {
  font-size: 1.4em;
  text-align:center;
  font-family: $font-family-headings;
  width: 86%;
  margin:auto; /* centrage décalé de qq pixel à gauche à cause du feedback mais tant pis, plus simple comme ça */
  min-height:28px;
}
#pictoFeedback  {width: 16px; height: 16px; float:right; margin: 6px 8% 0 0;}
/* ici il faut soit ajouter un commentaire pour que webpack ignore ces url(/medias/…), soit lui indiquer d'utiliser ses alias avec ~medias
cf https://webpack.js.org/loaders/css-loader/#disable-url-resolving-using-the--webpackignore-true--comment et https://webpack.js.org/loaders/css-loader/#url */
.feedbackOk { background-image: url("~medias/saveOk.png"); visibility: visible; }
.feedbackKo { background-image: url("~medias/saveKo.png"); visibility: visible; }
.feedbackOff { background-image: none; visibility: hidden; }

#boutonVu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 11; /* #display possède un z-index à 10 */
}

/* le layout-iframe n'inclue pas ce qui est défini dans les sesatheque-* hors display mais il a besoin de ça */
/**
 * Couleurs
 */
.debug {
  border: 1px #ff0000 solid;
  margin: 1em;
  padding: 0.5em;
}

#errors {
  margin: 0;
  padding: 0;
  color: $color-danger;
  background-color: $color-danger-bg;
  text-align: center;
  font-size: 1.2em;
  font-family: $font-family-base;
}

/* Pour j3p faut annuler les css de normalize sur sup / sub, car mathquill fait du positionnement en js */
#display #Mepact sup {
  top: 0;
}
#display #Mepact sub {
  bottom: 0;
}

[class*="btn--"] {
  i {
    padding-right: 5px;
  }
}

.link, a {
  display: inline;
  background: none;
  text-decoration: underline;
  color: #2a4095;
  padding: 5px;
}

.groupHeader {
  margin: 20px;
}
