.field {
  font-weight: bold;
  display: block;
  font-size: 10pt;
  margin: 10px;
  position:relative;

  button {
    margin-top: 6px;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  > input:not([type='checkbox']):not([type='radio']), > textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    background-color: #f8f9fb;
    border: 1px solid #eaeaec;
    border-radius: 3px;
    padding: 10px;
    font-weight: normal;
    font-size: 11pt;
  }

  > textarea {
    min-height: 100px;
  }

  > input[type='checkbox'] {
    display: block;
    margin-right: 5px;
    margin-top: 15px;
  }

  > input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  > input.switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  i {
    color: #888;
    font-weight: normal;
  }

  input:disabled {
    background-color: #eee !important;
  }

  .note {
    text-align: center;
    position: absolute;
    left: 141px;
    top: 23px;
    font-weight: normal;
    color: #666;
    font-style: italic;
    font-size: 9pt;
  }
}

iframe {
  border: none;
  padding: 10px;
  width: 100%;
  min-height: 800px;
}

hr {
  clear: both;
  border-top: 3px solid #fbfbfb;
  margin: 10px 0;
}

.checkbox-group {
  label {
    input[type='checkbox']  {
      display: inline;
      margin-right: 5px;
      margin-top: 0;
    }
  }
}

.buttons-area {
  margin: 10px auto;
  width: 60%;
  text-align: center;

  button {
    // les .btn--primary sont sur fond blanc et n'ont pas de border dans knacss
    border: $blue-sesatheque solid 1px;
    background-color: $blue-sesatheque-bg;
  }
}

.tabs-menu {
  text-align:center;
  margin-bottom: 15px;

  button.selected {
    background-color: #586174;
    color: white;
  }
}

.edit-search {
  margin-top: 8px;
}
