/* directives communes à display & app */
@import "./mixins.scss";

.error {
  @include avert($fa-var-exclamation-triangle);
  color: $color-danger;
  background-color: $color-danger-bg;
  border-color: $color-danger;
}
.warning {
  @include avert($fa-var-exclamation);
  color: $color-warning;
  background-color: $color-warning-bg;
  border-color: $color-warning;
}
.info {
  @include avert($fa-var-info-circle);
  color: $color-info;
  background-color: $color-info-bg;
  border-color: $color-info;
}
