#state-menu-query {
  textarea {
    @include gmTextArea();
    width: 400px;
    height: 200px;
  }
  input[type=text] {
    @include gmInput;
  }
  select {
    @include gmSelect;
  }
  a.button {
    @include gmButton();
  }
  .entity-field {
    label {
      color: gray;
      padding: 0 10px 0 0;
    }
    padding: 0 0 10px 0;
  }
  .query {
    padding: 10px 0;
    .query-part {
      margin: 10px 0;
    }
  }

  .object {
    font-size: 10px;
    display: table;
    .property {
      display: table-row;
      .name {
        padding: 3px;
        display: table-cell;
        border-right: 1px solid black(0.1);
        font-size: 10px;
        width: 50px;
        text-align: right;
        color: gray;
      }
      .value {
        padding: 0 5px;
        display: table-cell;
        border-bottom: 1px solid black(0.1);
      }
    }
    .object .object{
      .property {
        display: none;
      }
      position: relative;
      &:after {
        content: '...';
        position: absolute;
        top: 0;
        width: 16px;
        left: 0;
        height: 16px;
        background-color: black(0.1);
        color: #929292;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;

        display: block;

      }
      &.visible {
        &:after { content: 'x'; }
        .property {
          display: block;
        }
      }
    }
  }
}
