.ressource {
  .clear-right {
    clear: right;
  }

  margin-top: 20px;

  & > span {
    margin-top: -7px;
    margin-left: 10px;
  }

  section {
    grid-gap: 0.8rem !important;

    ul {
      margin: 0;
    }

    /* le texte est complètement collé sans ces margin… */
    .relations li {
      img, a {
        margin: 0 0.5em;
      }
    }

    .txtbold {
      font-weight: bold;
    }
  }

  .history {
    li {
      margin-top: 0.5em;
    }
    a {
      margin: 0.2rem 1rem;
    }
  }
}
