@import '../styles/mixins.scss';

footer {
  @include cartouche();
  clear: both;
  background-color: #237;
  flex-shrink: 0;

  ul {
    margin: 0;

    li {
      margin: 10px;
      color: $secondary-color-light;

      a {
        color: $secondary-color-light;

        &:hover {
          color: $secondary-color-link-hover;
        }
      }
    }
  }
}