@import '../styles/mixins.scss';

.resourceList {
  margin: 10px;

  th {
    &:nth-child(1) {
      width: 50px;
      text-align: center;
    }
    &:nth-child(2) {
      overflow: hidden;
      width: 210px;
    }
    &:nth-child(3) {
      width: 35%;
    }
  }

  td {
    &:nth-child(1) {
      text-align: center;
    }

    i {
      display: none;
    }
    /* si on applique du :not(.always) au sélecteur précédent les i ne s'affichent plus en écran étroits */
    i.always {
      display: inline-block;
    }
    &.identifiant {
      white-space: nowrap;
      sup {
        margin-left: 2px;
      }
    }
  }

  .empty {
    color: #666;
    text-align:center;
  }

  .links a {
    padding: 5px;
  }
}

.search-results {
  margin: 15px 10px;
}

@media (max-width: ($medium)) { // tiny et small
  .resourceList {
    td {
      a > span {
        display: none;
      }

      i {
        display: inline-block;
      }
    }
    // il faut réduire le picto externe pour pas confondre avec le picto de l'action
    a[target="_blank"]:not(.ignore--blank) {
      &:after {
        /* il faut ajouter !important car cette css se retrouve incluse avant App.scss */
        font-size: 8px !important;
        vertical-align: top !important;
        margin-left: 2px !important;
      }
    }

    th {
      &:nth-child(4) {
        width: 150px;
      }
    }
  }
}
