@import '../styles/mixins.scss';

.resourceList {
  margin: 10px;

  th {
    &:nth-child(1) {
      width: 50px;
      text-align: center;
    }
    &:nth-child(2) {
      overflow: hidden;
      width: 210px;
    }
    &:nth-child(3) {
      width: 35%;
    }
  }

  td {
    &:nth-child(1) {
      text-align: center;
    }

    i {
      display: none;
    }
  }

  .empty {
    color: #666;
    text-align:center;
  }

  .links a {
    padding: 5px;
  }
}

.search-results {
  margin: 15px 10px;
}

@media (max-width: ($medium)) { // tiny et small
  .resourceList {

    td {
      span {
        display: none;
      }

      i {
        display: inline-block;
      }
    }

    th {
      &:nth-child(4) {
        width: 150px;
      }
    }
  }
}
