/*
Cf http://google.github.io/material-design-icons/
On récupère ces 4 fichiers avec
  for e in eot ttf woff woff2; do wget -O MaterialIcons-Regular.$e https://github.com/google/material-design-icons/blob/master/iconfont/MaterialIcons-Regular.$e?raw=true; done
et l'on génère ce code (à partir du icons.css original de mdl)
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/styles/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/styles/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(/styles/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(/styles/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px; utiliser mi24 ou mi36 ou mi48 définis dans sesatheque.less*/
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  vertical-align: middle; /* ajout pour éviter les décalages */
}

/*
Pour insérer une icone, trouver son nom sur https://www.google.com/design/icons/ et insérer le code html
<i class="material-icons">{le nom de l'icone}</i>
*/
