/**
 * Copie modifiée du _00-config de knacss
 * faire un diff avec l'original après chaque update de version (via bower ou autre)
 *
 * www.KNACSS.com V4.3.2 (8 juillet 2015) @author: Raphael Goetter, Alsacreations
 * Licence WTFPL http://www.wtfpl.net/
 */
// Config file and project variables

// font sizes
@base-font-size : 14px; // if "14px" then 1em = 14px
@line-height    : 1.5; // equiv line-height 1.5
@h1-size        : 2.4rem; // equiv "32px"
@h2-size        : 2.0rem; // equiv "28px"
@h3-size        : 1.8rem;
@h4-size        : 1.6rem;
@h5-size        : 1.4rem;
@h6-size        : 1.2rem; // equiv "12px"

// font stacks
@font-stack-common      : Roboto, Helvetica, Arial, sans-serif; // common font
@font-stack-headings    : Roboto, Helvetica, Arial, sans-serif; // headings font
@font-stack-monospace   : Consolas, "DejaVu Sans Mono", Courier, monospace; // monospace font
@font-stack-universal   : FreeSans, Arimo, "Droid Sans", Roboto, Helvetica, Arial, sans-serif; // universal stack

// font colors
@primary-color          : #237; // text color on primary elements
@primary-color-ligth    : lighten(@primary-color, 25%, relative); // text color on primary elements
@primary-color-ligther  : lighten(@primary-color, 40%, relative); // text color on primary elements

@base-color             : darken(@primary-color, 10%); // text color on body and content (237 +foncé)

@secondary-color        : #d41; // text color on secondary elements
@secondary-color-light  : lighten(@secondary-color, 30%, relative); // +clair pour les fonds foncés
@secondary-color-link   : saturate(lighten(@secondary-color, 20%, relative), 20%, relative);
@secondary-color-link-hover : saturate(lighten(@secondary-color, 30%, relative), 30%, relative);

@error-color            : #e22;
@warning-color          : darken(@error-color, 40%, relative);
@flash-color            : mix(@primary-color-ligth, @warning-color);

@headings-color         : @primary-color; // text color on headings

@base-color-link        : saturate(lighten(@primary-color, 20%, relative), 20%, relative); // base links color
@base-color-link-hover  : saturate(lighten(@primary-color, 30%, relative), 30%, relative); // base hovered/focused links color

// backgrounds
@base-background        : #fff; // body background color
@primary-background     : #fff; // primary elements background color
@secondary-background   : #ddf; // secondary elements background color

// spacings (choose unit you prefer)
@tiny-value             : 5px; // tiny value for margins / paddings
@small-value            : 10px; // small value for margins / paddings
@medium-value           : 20px; // medium value for margins / paddings
@large-value            : 40px; // large value for margins / paddings
@extra-large-value      : 80px; // extra large value for margins / paddings
@ultra-large-value      : 160px; // ultra large value for margins / paddings

// breakpoints (choose unit you prefer)
@tiny-screen            : 480px; // tiny screens media query (less than 480px)
@small-screen           : 768px; // screens between 481px and 768px
@medium-screen          : 1024px; // screens between 769px and 1024px
@large-screen           : 1280px; // screens between 1025px and 1280px
@extra-large-screen     : 1600px; // screens between 1281px and 1600px
@ultra-large-screen     : 1920px; // ultra large screens

// grids variables (choose unit you prefer)
@gutter:  1em; // gutter value for grid layouts. Unit can be: %, px, em, rem
@number:  4; // number of equal columns
@left:    2; // left side of uneven columns
@right:   1; // right side of uneven columns

//namespace (default : empty) viré pour utiliser les mixins, cf README
// @kna-namespace:~"kna";

@border-primary : thin solid @primary-color;

// pourquoi knacss le précise pas ?
h1, h2, h3, h4, h5, h6, .h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like {
 color: @headings-color;
}