// en dessous en ajoute du scroll horizontal, faut pas pousser…
body {min-width: 300px;}

// responsive, .gt-medium-only pour les écrans à partir de medium et lt-medium-only pour les plus petits seulement
@media (max-width: (@medium-screen)) { // tiny et small
  .gt-medium-only,
  #header a span,
  #ressActions span
    { display: none; }
  .lt-medium-only { display: block; }
}
@media (min-width: (@medium-screen + 1)) { // medium, large et au delà
  .gt-medium-only { display: block;}
  #header a span,
  #ressActions span
    { display: inline;}
  .lt-medium-only { display: none; }
}

/**
 * Couleurs
 */
.debug {
  border: 1px #ff0000 solid;
  margin: 1em;
  padding: 0.5em;
}

/* Couleurs */
.error {
  &::before {content: '<i class="material-icons">error</i> '}
  margin: 1em;
  background-color: @base-background;
  color: @error-color;
}
.warning {
  &::before {content: '<i class="material-icons">warning</i> '}
  margin: 1em;
  background-color: @base-background;
  color: @warning-color;
}
.flash {margin: 1em; background-color: @base-background; color: @flash-color; border: solid thin @error-color; }
.cartouche { /* texte secondary sur fond foncé primary */
  background-color: @primary-color;
  color: @secondary-color-light;
  a { color: @secondary-color-light}
  a:hover {
    color: @secondary-color-link;
  };
}

.border-tab {
  border: @border-primary;
  .selected {
    border-bottom: none;
  }
}


/**
 * layout
 */
#auth {float: right;}

#header {
  .cartouche();
  .line();
  .pas();
  nav a {
    .btn();
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    background-color: @primary-color-ligth;
    text-align: center;
    text-decoration: none;
  };
  nav a.selected, nav a:hover {
    background-color: @primary-color-ligther;
    color: @secondary-color-link;
  }
  nav a:hover {
    color: @secondary-color-link-hover;
  }
  .material-icons {
    font-size: 36px;
  }
}
#auth {
  ul {
    display: none;
    position: absolute; // pour qu'il n'agrandisse pas le header quand il s'ouvre
    z-index: 10;
    top: 0;
    right: 0;
    padding-top: 5rem;
    list-style: none;
    div {
      padding: 0.2rem;
      text-align: center;
      background-color: @primary-color;
    }
    ul {
      padding: 0.5rem;
    }
    li {
      width: 100%;
      padding: 0.5rem;
      margin: 0;
      background-color: @primary-color;
    }
    li a {
      width: 100%;
      margin-right: @tiny-value;
      text-align: left;
    }
  }
}
#auth:hover ul {
  display: block;
}

#main, #content {
  .pam();
}
#main > h1 {margin-bottom: 0;}

#actions {
  float: right;
  font-size: @h4-size;
  line-height: @h1-size;
  padding: 0 ;
  text-align: center;
  list-style: none;
  margin: 0 0 0 1rem;
  li {
    float: right;
    .border-tab();
    padding: @tiny-value;
    margin-right: -1px;
  }
  li.selected {
    border-bottom: thin solid @base-background;
  }
  li.tab-spacer {
    border-top: none;
    border-bottom: none;
    width: @medium-value;
    z-index: 2;
  }
}

#main > div.clearfix {
  border-bottom: @border-primary;
  position: relative;
  bottom: 1px;
  z-index: -1;
}

#footer {
  .cartouche();
  .line();
  padding-right: @small-value;
  ul {
    list-style: none;
    .ma0();
    .pa0();
  }
  li {
    .mas();
    .fl();
  }
  a:hover {
    color: @secondary-color-link-hover;
    text-decoration: underline;
  }
}

/**
 * réglages de pages particulières
 */

#searchForm #submit {width: 10rem; margin: 0 auto;}
