label {
  font-weight: bold;
  display: block;
  font-size: 10pt;
  margin: 10px;
  position:relative;

  button {
    margin-top: 6px;
  }

  input:not([type='checkbox']):not([type='radio']), select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    background-color: #f8f9fb;
    border: 1px solid #eaeaec;
    border-radius: 3px;
    padding: 10px;
    font-weight: normal;
    font-size: 11pt;
  }

  &.select::after {
    content: '';
    position: absolute;
    z-index:2;
    right:8px;
    top:50%;
    margin-top: 8px;
    height:0;
    width:0;
    border-top:6px solid #777;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    pointer-events:none;
  }

  textarea {
    min-height: 100px;
  }

  input[type='checkbox'] {
    display: block;
    margin-right: 5px;
    margin-top: 15px;
  }

  input.switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  i {
    color: #888;
    font-weight: normal;
  }

  input:disabled, select:disabled {
    background-color: #eee !important;
  }

  .note {
    text-align: center;
    position: absolute;
    left: 141px;
    top: 23px;
    font-weight: normal;
    color: #666;
    font-style: italic;
    font-size: 9pt;
  }
}

iframe {
  border: none;
  padding: 10px;
  width: 100%;
  min-height: 800px;
}

hr {
  clear: both;
  border-top: 3px solid #fbfbfb;
  margin: 10px 0;
}

.checkbox-group {
  label {
    input[type='checkbox']  {
      display: inline;
      margin-right: 5px;
      margin-top: 0;
    }
  }
}

.buttons-area {
  margin: 10px auto;
  width: 60%;
  text-align: center;
}

.tabs-menu {
  text-align:center;

  button.inactive {
    background-color: #aeb4c2;
  }
}
