<table>
  <thead>
    <tr><th>ID</th><th>Date</th><th>Description</th><th>Actions</th></tr>
  </thead>
  <tbody>
    <tr
      ng-repeat="update in updates"
      >
      <td>{{update.id}}</td>
      <td>{{update.$date}}</td>
      <td>{{update.description}}</td>
      <td>
        <an-progress
          ng-if="update.job"
          total="{{update.job.total}}"
          progress="{{update.job.progress}}"></an-progress>
        <a
          class="button-link"
          ng-if="!update.job && !update.done"
          ng-click="doUpdate(update)">Démarrer</a>
        <span ng-if="update.done">Appliqué le {{update.$done}}</span>
        <a
          class="button-link button-assertive"
          ng-if="!update.job && update.done"
          ng-click="doUpdate(update)">Rejouer</a>
      </td>
    </tr>
  </tbody>
</table>
